@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-family: "Manrope", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

input,
button {
  background: transparent;
  outline: 0;
  border: 0;
}
input {
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus::placeholder {
  color: transparent;
}

button {
  cursor: pointer;
}
h3 {
  font-size: 24px;
  line-height: 30px;
}
.App {
  height: 100vh;
}

.App::after,
.App::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.App::after {
  background: linear-gradient(17.93deg, #0d144e 0.68%, #206170 100.36%);
  z-index: -2;
}

.App::before {
  background-image: url("../assets/map-bg.png"),
    linear-gradient(17.93deg, #0d144e 0.68%, #206170 100.36%);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.flex {
  display: flex;
}

/* COLOR TEXT */
.white {
  color: #fff;
}
.blue {
  color: #1a1f47;
}

/* BUTTON */
.Btn-rounded {
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px 40px;
}

.Btn-blue {
  background: #1a1f47;
}

.margin-top-std {
  margin-top: 35px;
}

.Logo {
  margin-top: 20px;
}

.Logo p {
  font-weight: 700;
}
